@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #194069;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color:#194069;
}

h3 {
    font-size: 20px;
    color: #194069;
}

h4 {
    font-weight: 700;
    font-size: 12px;
    color:#194069

}

P {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20x 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* HOME PAGE */

#hero h1 {
    padding: 10px;
}


/* Navigation Styling */
#navbar li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size:23px;
    font-weight: 600;
    color: #6c84a2;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #194069;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #194069;
    position: absolute;
    bottom: -4px;
    left: 50%;

}

body {
    width: 100%;

}

/* flex box styling */ 
#header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e8e7e3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.logo {
    margin-left: 0;
    padding-left: 0;
    display: block;       
  }
  


/* removes background for logo.png */
img {
    mix-blend-mode: multiply;
}

/*  Hero.png Style */
#hero {
    position: relative;
    background-image: url("clothing/hero.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 100px; /* gap below header */
    overflow: hidden;
  }
  /* Elevated Essentials */
  .hero-heading {
    position: absolute;
    top: 30px; /* controls how far from top */
    left: 50%;
    transform: translateX(-50%);
    color: #6c84a2;
    font-size: 32px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px 20px;
    border-radius: 6px;
  }

  /* Text left of Hero.png */
  .hero-text {
    
    position: relative;
    z-index: 2;
  
    margin-left: 350px;
    margin-top: 420px;
  
    max-width: 400px;
    padding: 25px 30px;
    
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

      
    display: inline-block;
    
  }
  /* Shop now styling */
  .button-link {
    background-color:#6c84a2;
    color: white;
    text-decoration: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #194069;;
}



  